body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #bbebff , #ffebe0); /* Standard syntax */
}

h1 {
    font: 300 2em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h2 {
    margin: 0;
    letter-spacing: 0.3em;
    text-transform: initial;
    color: white;
    font-weight: 200;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    display: inline-block;
    cursor: pointer;

}
.center {
    text-align: center;
}
input {
    cursor: pointer;
}

h4 {
 display: inline-block;
 transition: transform .5s ease;
}

h4#first.swap {
    transform: translate(9.7rem, 0);
}
h4.last.swap {
    transform: translate(-9rem, 0);
}

.direction {
   cursor: pointer;
}

.button {
    cursor: pointer;
    font-size: .8em;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
    display: inline-block;
    letter-spacing: 0.1em;
    padding: .3rem .6rem;
}
.success {
    color: white;
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
 /* STYLES GO HERE */
    h1 {
        font: 600 4em 'Raleway', sans-serif;
        color: rgba(0,0,0,.5);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5em;
        width: 100%;
        margin-bottom: 100px;
        margin-top: 70px;
    }
    input {
        width: 20rem;
        height: 10rem;
        margin: 0 40px;
    }
    h2 {
        font-size: 3em;
        margin-top: 48px;
    }
    h4 {
        font-size: 2.5em;
        margin-top: 100px;
    }
    h4#first.swap {
    transform: translate(17.2rem, 0);
    }
    h4.last.swap {
        transform: translate(-15rem, 0);
    }
    h3 {
        font-size: 2em;
    }
    .button {
        font-size: 3em;
        border-radius: 15px;
        padding: .3rem 1.5rem;
        margin-top: 50px;
    }

}    
